.auth-wrapper{
    width: 100%;
    padding: 2rem 0;
    height: fit-content;
    min-height: calc(100vh - 3.5rem);
    display: grid;
    place-items: center;
}
.auth-wrapper > .auth-card{
    min-width: fit-content;
    width: 30%;
    height: fit-content;
    padding: 2rem 1rem;
    background-color: var(--background-color);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.32);
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(230, 230, 230);
}
.auth-wrapper > .auth-card > .auth-switch{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.auth-wrapper > .auth-card > .auth-switch > p{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 1rem 0;
    color: var(--text-color);
    font-size: 1.4em;
    transition: background-color .4s;
    border-radius: 666rem;
}
.auth-wrapper > .auth-card > .auth-switch > p:hover{
    /* color: var(--theme-color-dark); */
    background-color: rgba(212, 212, 212, 0.2);
}
.auth-wrapper > .auth-card > .hr{
    width: calc(100% - 2rem);
    height: 0;
    border-bottom: 1px solid rgb(230, 230, 230);
    margin: 1rem 0;
}
/* form wrapper ding */
.auth-form-wrapper{
    width: 80%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth-form-wrapper > .auth-form-title{
    width: 100%;
    text-align: center;
    height: fit-content;
    font-size: 1em;
    padding: 0 0 1rem 0;
    color: var(--text-color);
}
.auth-form-wrapper > form{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth-form-wrapper > form > label{
    width: 100%;
    text-align: left;
    margin-bottom: 0.2em;
}
.auth-form-wrapper > form > input{
    width: 100%;
    height: fit-content;
    padding: 0.5em 1em;
    border-radius: 666rem;
    outline: none;
    border: 1px solid hsl(0, 0%, 80%);
    margin-bottom: 1em;
    font-size: 1em;
}
.auth-form-wrapper > form > input[type="submit"]{
    width: fit-content;
    padding: 0.5rem 2rem;
    border: 1px solid hsl(0, 0%, 80%);
    background-color: var(--background-color);
    color: var(--text-color);
}
/* responsive */
@media only screen and (max-width: 1200px) {
    .auth-card{
        width: 80% !important;
    }
  }