.page-title{
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
}
.page-title > p{
    font-size: 2rem;
    padding: 1.5rem 0;
    width: fit-content;
    height: fit-content;
}
.creation-wrapper-wrapper{
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.creation-wrapper{
    height: fit-content;
    width: 60%;
    padding: 2rem 0;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.creation-wrapper > *{
    margin-bottom: 2rem;
}
/* title */
.creation-title-wrapper{
    width: 100%;
    height: fit-content;
}
.creation-title-wrapper > input[type='text']{
    width: 100%;
    text-align: center;
    font-size: 1.3rem;
    border: none;
    outline: none;
    border-radius: 5rem;
    background-color: var(--border-color);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.32);
    padding: 1rem 2rem;
}
/* settings */
.creation-settings-wrapper{
    width: 80%;
    margin-left: 10%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    place-items: center;
    gap: 3em;
}
.creation-settings-wrapper > *{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--border-color);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.32);
    border-radius: 1rem;
    padding: 1rem 2rem;
}
.creation-settings-wrapper > * > p{
    width: 100%;
    text-align: center;
    font-size: 1.3em;
    margin-bottom: .5rem;
}
.creation-settings-wrapper > * > p.option-hint{
    margin-top: 1em;
    font-size: .8em;
}
.creation-settings-wrapper > .creation-max-answers > input{
    width: fit-content;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    display: block;
    background-color: var(--background-color);
    color: var(--text-color)
}
.creation-settings-wrapper > .creation-time-closed > input,
.creation-settings-wrapper > .creation-time-opened > input{
    width: fit-content;
    font-size: 1em;
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: .5rem 1rem;
    display: block;
    background-color: var(--background-color);
    color: var(--text-color)
}
/* question creation */
.creation-questions{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.add-question-button{
    width: 80%;
    height: fit-content;
    display: grid;
    place-items: center;
}
.add-question-button > button{
    height: fit-content;
    background-color: var(--border-color);
    border: none;
    outline: none;
    border-radius: 2rem;
    padding: 1rem 0;
    width: 100%;
    cursor: pointer;
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.32);
    font-size: inherit;
}






/* question type choice */
.add-question-choice{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, min-height);
    grid-column-gap: 2rem;
    place-items: center;
    width: 80%;
    margin-bottom: 2rem;
    padding: 2rem 0 0 0;
}
.question-choice-title{
    width: 100%;
    height: fit-content;
    grid-area: 1 / 1 / 2 / 4;
}
.question-choice-title > p{
    width: 100%;
    text-align: center;
    font-size: 1em;
    color: var(--text-color);
    font-size: 1.5em;
    padding-bottom: 2rem;
}
.question-choice{
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
    cursor: pointer;
    border-radius: 5rem;
    background-color: var(--border-color);
    box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.32);
    transition: transform .4s ease-in-out;
}
.question-choice:hover{
    transform: scale(105%);
}
.question-choice > p{
    text-align: center;
    padding: 1rem 0;
}




/* send button */
.creation-send{
    width: 100%;
    height: fit-content;
    display: grid;
    place-items: center;
}
.creation-send > button{
    width: fit-content;
    height: fit-content;
    font-size: 1.3rem;
    background-color: var(--theme-color);
    border: none;
    outline: none;
    padding: .5rem 15ch;
    border-radius: 2rem;
    color: #fff;
    cursor: pointer;
}

/* Questions */
.questions{
    width: 100%;
    background-color: red;
    height: 200px;
}
.questions > .question-wrapper{
    width: 100%;
}